* {
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  tap-highlight-color:transparent;
  -moz-tap-hightlight-color:transparent;
  -webkit-tap-highlight-color:transparent;
} 
body {
  background-color:#000000;
  font-size:5vw;
}
li {
  list-style:none;
  margin:0 0 30vw 0;
}
.reveal {
    animation: reveal 2s steps(30, end), blink .50s step-end infinite;
}
.fade {
  animation: fade 2s steps(30, end), blink .50s step-end infinite
}
.soc {
  display:block;
 margin-left:auto;
}
.ico-color {
  color:Red;
  font-size:15vw;
}
a {
  background-color:Black;
  color:Red;
  font-size:10vw;
   display: table-cell;
   vertical-align: middle; 
   text-align: center;
   text-decoration: none;
   height: 9vh;
   width: 90vw;     
   border-radius:50%;  
}
.head {
  font-size:15vw;
  color:White;
}
.me b {
  font-size:10vw;
}
.me i {
  margin-left:5vw;
  font-size:5vw;
  color:#ff0000;
}
.prof_mob {
  display:block;
  width:80vw;
  border-radius:50%;
  margin-top:5vh;
  margin-left:auto;
  margin-right:auto;
}
.none {
  display:none;
}
.anitxt {
  text-align:center;
  display: inline-block;
  overflow: hidden;
  animation: typing 3s steps(30, end), blink .50s step-end infinite;
  white-space: nowrap;
}
@keyframes typing {
    from {
        width: 0% 
    }
    to { 
        width: 100% 
    }
}
@keyframes reveal {
  0% {
	opacity:0;
  }
  50% {
	opacity:0.5;
  }
  100% {
	opacity:1;
  }
}
@keyframes fade {
  0% {
	opacity:1;
  }
  50% {
	opacity:0.5;
  }
  100% {
	opacity:0;
  }
}
@media screen and (max-width: 800px) {
  .prof_mob {
    width:75vw;
	}
  .head {
	  font-size:10vw;
	}
   body {
	 font-size:6vw;
   }
   .soc {
	 margin-left:1vw;
   }
}
